html {
  background-color: #E7E6F7;
  
}

.sidenav{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
margin-top: 75px;
  overflow-x: hidden;
  /*background-color: #E7E6F7;*/
  border-right-style:solid;
  border-right-color: lightgray;
  border-right-width: 1.5px;
  padding: 0px;
  /*margin: 5% auto;
 vertical-align: center;
  align-items: center;
  justify-content: center;*/

}

.main{
  margin-left:250px;
}

.homebutton{
  background: none !important;
    color: inherit;
    border: none;
    padding-top: 0px;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    font-family: 'Kameron', sans-serif;

}

.header-bar-cont {
  width:100%;
  position: fixed;
  top: 0px;
  background-color: white;
  font-family: 'Kameron', sans-serif;
  /*border-style: solid;
  border-width: 1px;
  border-color: black;*/
}

.header-bar {
  height: 10%;
  width: 100%;
  /*background-color: #273043;*/
  background-color: #2191FB;
  color:white;
  /*color: #1B2845;*/
  display: table;
  margin: 0px auto;
  font-family: 'Kameron', sans-serif;
  /*background: #1B2845;*/
  /*background-image:url(headerchoice.png);*/
  /*border-style:solid;
  border-width:1px;
  border-color:black;
  /*border-color:#335C81;*/
}

.spacing {
  height: 80px;
}

body {
  margin: 0;
  padding: 0;
}

#title {
  margin: 0px;
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  left: 40px;
  font-size: 40px;
  font-family: 'Kameron', sans-serif;
  line-height: 70px;
  color: #E7E6F7;
}


.drop-down {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans" Sans-serif;
  margin: 10% auto;
}

.filters{
  margin: 25% auto;
}

.drop-down select {
  background-color: white;
height: 35px;
  width: 210px;
  color: black;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border-width: 1px;
  border-color:lightgray;
  margin-top: 25px;
  border-radius: 10px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
  margin-left:8%;
}

.drop-down::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.drop-down::after { /*shows arrow even when option selected*/
  
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: -.4em;
  top: 50%;
  margin-top: .65em;
}




.drop-down::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
    height: 35px;
  width: 210px;

}

.ZIP {
  height: 35px;
  width: 210px;
  font-size: inherit;
  border-width: 1px;
  border-color:lightgray;
  border-radius: 10px;
  margin: 10% auto;
  margin-left:8%;
}



.job{  
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  width:85%;
  margin: auto;
  margin-top:15px;
  margin-bottom: 15px;
  background-color:white;
  border-style:solid;
  border-width: 1.5px;
  border-color:lightgray;
  border-radius: 10px;
  font-family: "Open Sans";
}
.Title{
  font-size:30px;
  font-family: "Bitter";
  padding-bottom: 2px;
  display:inline-block;
}
.Description{  
  font-size:16px;
  margin-bottom:15px;
  padding: 3px;
}
.Location{
  font-family: "Bitter";
  font-size:20px;
  display:inline-block;
  padding-right:20px;
  float:right;
  line-height: 30px;
}
.Education{
  font-family: "Bitter";
  font-size:15px;
  padding-bottom: 10px;
  font-style: italic;
}

