html {
  background-color: #F6F6F6;
  
}

.sidenav{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  margin-top: 75px;
  overflow-x: hidden;
  /*background-color: #E7E6F7;*/
  border-right-style:solid;
  border-right-color: #C2FAF1;
  border-right-width: 1.5px;
  padding: 0px;
  background-color: #C8F0FF; /*#E5F0F6; /*#C8F0FF; /*#E3E3E3; /*#DFEFF0; /*E7E6F7;*/
  /*margin: 5% auto;
 vertical-align: center;
  align-items: center;
  justify-content: center;*/

}

.main{
  margin-left:250px;
}

.homebutton{
  background: none !important;
    color: inherit;
    border: none;
    padding-top: 0px;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    font-family: 'Source Sans Pro', sans-serif;

}

.header-bar-cont {
  width:100%;
  position: fixed;
  top: 0px;
  background-color: #F6F6F6;
  font-family: 'Source Sans Pro', sans-serif;
  /*border-style: solid;
  border-width: 1px;
  border-color: black;*/
}

.header-bar {
  height: 10%;
  width: 100%;
  /*background-color: #273043;*/
  background-color: /*#295E6A;*/ #2191FB;
  color:#F6F6F6;
  /*color: #1B2845;*/
  display: table;
  margin: 0px auto;
  font-family: 'Source Sans Pro', sans-serif;
  /*background: #1B2845;*/
  /*background-image:url(headerchoice.png);*/
  /*border-style:solid;
  border-width:1px;
  border-color:black;
  /*border-color:#335C81;*/
}

.spacing {
  height: 80px;
}

body {
  margin: 0;
  padding: 0;
}

#title {
  margin: 0px;
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  left: 40px;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  line-height: 70px;
  color: #C8F0FF;/*#DFEFF0;*/
}
/*
.removebutton{
  background-color: #F6F6F6;
  border-width:1px;
  border-color:#C2FAF1;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  height: 35px;
}
*/

/*.filters{
  float: left;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
*/

.drop-down {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans" Sans-serif;
  margin: 10% auto;
}

.filters{
  margin: 25% auto;
}

.drop-down select {
  height: 35px;
  width: 210px;
  color: black;
  font-size: inherit;
  /*padding: .5em;
  padding-right: 2.5em; */
  padding-bottom: 0;
  border-width: 1px;
  border-color:#C2FAF1;
  margin: 10% auto;
  border-radius: 2.5px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
  margin-left:8%;
}

.drop-down::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.drop-down::after { /*shows arrow even when option selected*/
  
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: -.4em;
  top: 50%;
  margin-top: .65em;
}




.drop-down::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
    height: 35px;
  width: 210px;

}

.ZIP {
  height: 35px;
  width: 210px;
  font-size: inherit;
  border-width: 1px;
  border-color: #C8F0FF; /*#C2FAF1;*/
  border-radius: 4px;
  margin: 10% auto;
  margin-left:8%;
  margin-top: 17%;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}


.job{  
  /*padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;*/
  padding: 3%;
  width:65%;
  /*margin: auto;
  margin-top:15px;
  margin-bottom: 15px;*/
  margin:0 auto;
  float: none;
  background-color:#F6F6F6;
  /*border-style:solid;
  border-width: 1.5px 0px 1.5px 0px;
  border-color:#C2FAF1;*/
  /*border-radius: 10px;*/
  font-family: "Open Sans", sans-serif;
  overflow: auto;
  padding-bottom: 0%;
}

.Title{
  float: left;
  font-size:24px;
  /*font-family: "Bitter";*/
  padding-bottom: 2px;
  display:inline-block;
  margin-top: 0px;
}
.Description{  
  font-size:16px;
  float: left;
  /*margin-bottom:15px;
  padding: 3px;*/
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #C8F0FF; /*#C2FAF1;*/
  padding-bottom: 6%;
  margin-bottom: 0px;
}

.Location{
  /*font-family: "Bitter";*/
  /*clear: left;*/
  font-size:15px;
  /*float:left;*/
  margin-bottom: 5%;

  
  display:inline-block;
  padding-right:20px;
  float:right;
  line-height: 30px;
}
.Education{
  float: left;
  /*font-family: "Bitter";*/
  font-size:15px;
  /*padding-bottom: 10px;*/
  font-style: italic;
  /*margin-left: 20px;*/
  clear: left;
}

